doctype html
html(lang='en')
	head
		title Current Weather
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="css/styles.min.css")
	body
		.content-container
			.content
				h1 Current Weather Report
				h1#current_temp.icon &#176; F
				p#current_summary
				button.btn.btn-default#converter Celcius
		script(src="js/script.min.js")